<div class="centered-block">
  <h1>CloudTube</h1>
   <div class="form-group col-lg-10 centered-elem">
    <input type="text" class="form-control centered-block" placeholder="YouTube URL..." ng-enter-key-pressed select-on-click></input>
    <br>
  </div>
</div>
<div class="leftcol">
  <div class="centered-block">
    <div id="player"></div> <!-- This div gets replaced by the player iframe -->
  </div>
</div>
<div class="rightcol">
  <div class="commentbox" scroll-glue>
    <table class="spaced">
      <tr ng-repeat="comment in comments track by $index" ng-if="currentVideoTime >= comment.time" class="animated" context-menu="commentOptions">
        <td>{{comment.author}}: {{comment.text}}</td>
      </tr>
    </table>
  </div>
  <br>
  <div class="centered-block">
    <textarea class="form-control" placeholder="Make a comment..." ng-model="formText"></textarea>
    <br>
    <input type="button" class="btn btn-lg btn-success-outline" value="Submit" ng-click="submitComment();">
  </div>
</div>
<input type="button" class="btn btn-lg" ng-value="loggedIn ? 'Sign Out' : 'Sign In'" ng-click="auth();">
