<div class="leftcol">
  <div class="centered-block">
    <div class="form-group col-lg-10 centered-elem">
      <input type="text" class="form-control" placeholder="" ng-enter-key-pressed select-on-click></input>
    </div>
    <br>
    <div id="player"></div> <!-- This div gets replaced by the player iframe -->
  </div>
  <br>
  <div class="centered-block">
    <textarea class="form-control" ng-model="formText"></textarea>
    <br>
    <input type="button" class="btn" value="Submit" ng-click="submitComment();">
  </div>
</div>
<div class="rightcol">
	<div class="comments_wrapper">
  		<div class="comments">
  			<div></div>
  		</div>
  	</div>
  	<button id="cyclebutton" type="button" ng-click='cycleComments()'>Click</button>
</div>
