body {
  font-family: "Alegreya Sans", sans-serif;
  margin: 20px;
  background-color: #F8F8F8;
}

.leftcol {
  float: left;
  width: 70%;
}

.rightcol {
  float: right;
  width: 30%;
}

.commentbox {
  height: 400px;
  background-color: #FFFFFF;
  border-radius: 8px;
  overflow: auto;
  word-wrap: break-word;
}

.centered-block {
  text-align: center;
}

.centered-elem {
  margin: 0 auto;
  float: none;
}

table.spaced tr td {
  padding-top: 10px;
  padding-left: 10px;
}

.animated.ng-enter, 
.animated.ng-leave
{ 
  -webkit-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
     -moz-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
      -ms-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
       -o-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
          transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
} 

.animated.ng-enter.ng-enter-active, 
.animated.ng-leave {
  opacity: 1;
}

.animated.ng-leave.ng-leave-active,
.animated.ng-enter {
  opacity: 0;
}
