body {
  margin: 20px;
}

.leftcol {
  float: left;
  width: 75%;
}

.rightcol {
  float: right;
  width: 25%;
}

.centered-block {
  text-align: center;
}

.centered-elem {
  margin: 0 auto;
  float: none;
}
